.headerWrapper {
    background: $colorAccent;
    margin-bottom: 10px;
}
.header {
    max-width: $sizeDesktop;
    margin: auto;
    @include clearer();
    .logo {
        width:204px;
        float: left;
        padding: 5px 0;
        a {
            height: 40px;
            display:block;
            text-indent: -100rem;
            overflow: hidden;
            background-image: url('../../img/logoSmaller.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }
    .headerLeft {
        width:30%;
        float:left;
    }
    .headerRight {
        width:70%;
        float:right;
    }
}

.searchTop {
    padding: 10px 0 0 0;
    float:right;
    width: 300px;
    .formField {
        width:260px;
        float:left;
        input {
            width:100%;
            border: 0;
            height: 2rem;
            padding: 3px 10px;
            background:$white;
            color:$colorText;
            @include borderRadius(0.2rem);
            @include borderBox();
        }
    }
    .formSubmit {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        width: 30px;
        float: right;
        @include animateHoverOpacity();
    }
    .iconSearch {
        @include iconSimple("\e903", 2rem, 1.5rem);
    }
}