@media screen and (max-width: $sizeDesktop - 1) {
	.itemIntro {
		width: 25%;
	}
	.header {
		padding: 0 10px;
	}
	.menuAll {
		width: auto;
		margin: 0 10px;
		box-sizing: border-box;
		li {
			a {
				font-size: 0.9rem;
				padding: 10px 3px;
			}
		}
	}
	.contentFormat {
		padding: 0 10px 20px 10px;
		h1 {
			font-size: 1.5rem;
		}
		.contentFormatIns {
			padding: 10px;
		}
	}
	.contentSimple {
		margin: 0;
	}
	.footer {
		.footerIns {
			font-size: 0.9rem;
		}
		.shareIcons {
			display: none;
		}
		.pageSimple {
			width: auto;
			float: none;
			margin: 0;
		}
	}
	.itemPublicSimple {
	    height: 150px;
	    margin: 0 5px 10px;
	    width: 97px;
	}
	.adsense {
		width: 100%;
		min-width: 0;
	}
	.itemComplete {
		.itemCompleteBottom {
			h2 {
				font-size: 1rem;
			}
			.itemCompleteBottomItem {
				&.itemCompleteBottomAd {
					width: 100%;
					float: none;
					margin: 0 0 10px 0;
					.adsense {
						min-height: 100px;
					}
				}
				&.itemCompleteBottomIngredients {
					width: 33%;
				}
				&.itemCompleteBottomPreparation {
					width: 65%;
					ol {
						li {
							font-size: 0.9rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $sizeTablet - 1) {
	.header {
		.headerLeft {
			width: 38%;
		}
		.headerRight {
			width: 60%;
		}
		.logo {
			width: 100%;
			a {
				width: 100%;
				background-size: contain;
			}
		}
		.searchTop {
			width: 100%;
			position: relative;
			.formField {
				width:auto;
				margin: 0 40px 0 0;
				float: right;
			}
			.formSubmit {
				position: absolute;
				top: 10px;
				right: 0;
			}
		}
	}
	.headerWrapper {
		margin: 0;
	}
	.hideMobile {
		display: none !important;
	}
	.introTop .itemPublicSimple {
	    width: 48%;
	}
	.itemComplete {
		.itemCompleteBottom {
			.itemCompleteBottomItem {
				&.itemCompleteBottomIngredients,
				&.itemCompleteBottomPreparation {
					width: 100%;
					border: 0;
					float: none;
					margin: 0 0 20px 0;
				}
			}
		}
		.itemCompleteTopItem {
			&.itemCompleteTopImage {
				width: 28%;
			}
			&.itemCompleteTopDescription {
				width: 70%;	
			}
		}
	}
	.shareOptions {
		text-align: center;
		padding: 0;
		font-size: 0.9em;
	}
	.relatedWrapper {
		.relatedRight,
		.relatedLeft {
			width: 100%;
			float: none;
			margin: 0 0 20px 0;
		}
	}
	.contentFormat {
		.contentLeft,
		.contentRight {
			width: 100%;
			float: none;
			margin: 0 0 20px 0;
		}
	}
	.footer {
		.footerLeft,
		.footerRight {
			width: 100%;
			float: none;
			margin: 0 0 20px 0;
		}
	}
	.related {
		display: none;
	}
	.menuAll {
		margin: 0;
		background: lighten($colorAccentAlt, 5%);
		ul {
			display: block;
			text-align: center;
			padding: 3px;
			li {
				display: inline-block;
				a {
					display: inline-block;
					padding: 5px 10px;
					margin: 3px;
					border: 0;
					background: darken($colorAccentAlt, 5%);
					@include borderRadius(3px);
				}
			}
		}
	}
	.contentFormat {
		padding: 0;
	}
	.itemPublicSimple {
		margin: 0 5px 10px 5px;
		width: 100px;
	}
	.blockIntro {
		.postIntro {
			width: 100%;
			margin: 0 10px 10px 10px;
			float: none;
			padding: 0;
		}
	}
}

@media screen and (max-width: $sizeMobile - 1) {
	.searchTop {
		width: 200px;
		.formField {
			width:170px;
		}
	}
	.introTop {
		text-align: center;
		display: block;
		.itemPublicSimple {
			display: inline-block;
			float: none;
			margin: 0 0 10px 0 !important;
			height: 110px !important;
			a img {
				width: 70px;
				height: 70px;
			}
		}
	}
}

@media print {
	body {
		background: $white;
		font-size: 0.9em;
	}
	.contentFormat {
		margin: 0;
		max-width: auto;
	}
	header,
	footer,
	aside,
	.breadcrumbs,
	.adsense,
	.adsenselinksWrapper,
	.itemCompleteOptions,
	.comments,
	.related,
	.itemCompleteAdLeft {
		display: none;
	}
	.itemComplete .itemCompleteAd .itemCompleteAdRight {
		width: 100%;
		float: none;
		margin-bottom: 1rem;
	}
}