.header {
	background: $colorAccent;
	padding: 5px 20px;
	height: 40px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
	border-bottom: 1px solid $colorText;
	-moz-box-shadow: 0px 0px 4px $colorText;
	-webkit-box-shadow: 0px 0px 4px $colorText;
	box-shadow: 0px 0px 4px $colorText;
	@include clearer();
	.headerIns {
		max-width: $sizeDesktop;
		margin: auto;
	}
	.logo {
		width:38px;
		float: left;
		a {
			height: 40px;
			width:38px;
			display: block;
			background: url(../../img/logoTop.jpg) no-repeat center center;
			text-indent: -5000px;
		}
	}
	.headerLeft {
		width: 70%;
		float: left;
	}
	.headerRight {
		width: 30%;
		float: right;
	}
}
.shareIcons {
	float: right;
	padding-left: 20px;
	margin-left: 25px;
	border-left: 1px solid $colorMain;
	margin-top: 5px;
	@include clearer();
	.shareIcon {
		width:30px;
		float: right;
		margin-left: 5px;
	}
	.shareIcon a {
		display: block;
		width: 30px;
		height: 30px;
		background: url(../../img/icoFacebook.png) no-repeat center center;
		text-indent: -5000px;
		overflow: hidden;
	}
	.shareIconTwitter a {
		background: url(../../img/icoTwitter.png) no-repeat center center;	
	}
}
.infoCustomer {
	text-align: right;
	padding: 5px 0 0 0;
	@include clearer();
	.infoCustomerItem {
		display: inline-block;
		padding: 0 0 0 10px;
		&:first-child {
			padding: 0;
		}
		a {
			display: inline-block;
			padding: 3px 15px 7px 15px;
			color: $white;
			font-size: $fontSizeSmall;
			background: rgba($colorText, 0.2);
			color: $white;
			@include borderRadius(5px);
			line-height: 20px;
			@include buttonShadow();
			&:hover {
				background: $colorText !important;
				color: $white !important;
			}
		}
		&.infoCustomerLogin a {
			@include iconBefore($icon-user);
			&:before {
				padding: 0 10px 0 0;
			}
		}
		&.infoCustomerCreate a {
			background: rgba($colorAccentAlt, 0.1);
		}
	}
}