.menuSideWrapper {
    padding-bottom: 1rem;
}
.menuSide {
    @include itemBottom(20px, 1px solid lighten($colorText, 60%));
    font-size: 1rem;
    line-height: 1.3rem;
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
    a.menuSideLinkSimple {
        color: lighten($colorText, 20%);
    }
    a.menuSideTitle {
        font-weight: bold;
        color: lighten($colorText, 10%);
    }
    a {
        display: inline-block;
        text-decoration: none;
        font-weight: normal;
        color: $colorText;
        &:hover {
            color: $colorMain;
            text-decoration: underline;
        }
    }
}